* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000;
    font-family: 'Open Sans',sans-serif;
    color: #fff;
}

#telaInicial {
    width: 100%;
    min-height: 100vh;
    padding-left: 5rem;
    padding-right: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/burger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
#telaReserva {
    width: 100%;
    min-height: 100vh;
    padding-left: 5rem;
    padding-right: 5rem;
    background-image: url('../img/batatafrita.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#telaContato {
    width: 100%;
    min-height: 100vh;
}
.telaHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.linksHeader {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.logo {
    font-weight: 600;
    font-style: italic;
    font-size: 1.5rem;
    padding: 1rem;
    color: #2b5ec2;
    margin-right: 2rem;
}
.link {
    color: #757575;
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
}
.linkActive {
    color: #2b5ec2;
}
.telaSlide {
    width: 50%;
}
.telaSlide h1{
    font-weight: 300;
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
}
.telaSlide p {
    font-weight: 300;
    font-size: 1rem;
    padding: 1rem;
    color: #fff;
}
.telaSlide div {
    padding: 1rem;
}
.btnSlide {
    padding: 1rem 2rem;
    background: #2b5ec2;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 2rem;
}
.btnTelas {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.btnTelas a {
    background: #000;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}

/* Styles main */
#telaReserva {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.registroReserva {
    flex: 1;
}
.cadastroReserva {
    flex: 1;
}
.cadastroReserva h2 {
    font-weight: 600;
    font-size: 1.8rem;
    padding: 1rem;
    color: #2b5ec2;
}
.cadastroReserva p {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem;
    color: #757575;
}
.cadastroReserva div {
    padding: 1rem;
}
#btnCadastro {
    padding: 1rem 2rem;
    background: #2b5ec2;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 2rem;
    cursor: pointer;
}
.registroReserva h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
}
.cardReservas {
    padding: 1rem;
    margin-bottom: 10px;
    background: #fff;
    color: #2b5ec2;
    font-weight: 700;
    border-radius: 50px;
}
.registroReserva div {
    padding: 1rem;
}
/* Style scrollBar*/
body::-webkit-scrollbar {
    width: 3px;
    height: 3px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #000;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #2b5ec2;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #000;  /* creates padding around scroll thumb */
  }